<div id="prodCont">
    <h1>Thank You</h1>
    <p>You have just placed an order order <%=@orderReg %> </p>
</div>


<table>
    <tr>
        
    <% @orders.limit(1).order(id: :desc).each do |order| %>
    <td>order Reference for the order you just placed: <%= order.id %></td>
    <% end %>
    
    </tr>
</table>

<table id="default" >
    <% @total = 0 %>
    
    <% @orderitems.each do |id, quantity| %>
    <tr>
        <% item = Orderitem.find_by_id(id) %>
        <td><%= item.title %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.price, :unit => "€")%></td>
        <td><%= number_to_currency(item.quantity * item.price, :unit => "€") %></td>
        
    
   
    <% gTotal =(item.quantity * item.price) %>
    
    <% @total += gTotal %>
    </tr>
    <% end %> 
    <tr>
    <td>Order Total: €<%= @total %> </td>
    <%# instance variable shipping%>
    <% shipping = 9.99 %> 
    
    <% @overall = @total + shipping %>
    <td>Shipping: €9.99</td>
    <td>Overall Order Total: <%= number_to_currency(@overall, :unit => "€") %></td>
    
    </tr>
    </table>
    </br>
    <table id="default" >
        <tr><a href="/payment" class="btn btn-block btn-info active btn-embossed ">Pay Now </a></a></tr>
    </table>
    </br>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

  <!-- Identify your business so that you can collect the payments. -->
  <input type="hidden" name="business" value="Health Store">

  <!-- Specify a Buy Now button. -->
  <input type="hidden" name="cmd" value="_xclick">

  <!-- Specify details about the item that buyers will purchase. -->
  <input type="hidden" name="item_name" value="Health Store Order No: <%= @order %>"> <!-- order variable need to be set , order.id -->
  <input type="hidden" name="amount" value="<%= @overall %>">
  <input type="hidden" name="currency_code" value="EUR">
  
<input type="hidden" name="notify_url" value="/payment"> <!-- check if notify_url i correct. -->
<input type="hidden" name="return_url" value="/pay.html.erb"><!-- check if return_url i correct. -->

  <!-- Provide a drop-down menu option field. -->
  
  <!--<input type="hidden" name="on0" value="Type">Type of umbrella <br />
  <select name="os0">
    <option value="Select Type">-- Select Type --</option>
    <option value="Standard">Standard</option>
    <option value="Collapsable">Collapsable</option>
  </select> <br />
  -->

  <!-- Display the payment button. -->
  <input type="image" name="submit" border="0"
    src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
    alt="Buy Now with PayPal">

  <img alt="" border="0" width="1" height="1"
  src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >

</form>
