<% if @cart.empty? %>
<p>You have not added any items yet</p>
<% end %>

<p id="notice"><%= notice %></p>



<div id="itemsContainer">
    <table id="customers">
        <% total = 0 %>
        
        <% @cart.each do |id, quantity| %> 
        
         <% item = Item.find_by_id(id) %>
         
         <tr>
             
             <td>
                 <div class="image">
           
                 <%= link_to (image_tag item.image_url, :style =>"height:40px"), item %>
                 </div>
             </td>
             
             <td class="title">
                 <%= link_to item.title, item %>
             </td>
             
             <td class="title">
              <a href="/cart/remove/<%= item.id %>"  class="button">Remove From Cart</a>
              
            </td>
            
            <td class="price">
               <%= number_to_currency(item.price, :unit =>"€") %>  
            </td>
            
            <td class="quantity"><%= quantity %></td>
            
            <td ="price"><%= number_to_currency(quantity * item.price, :unit =>"€") %></td>
             
         </tr>
             <% total += quantity * item.price %> 
             <% end %>
        <tr>
          <p class="title"> Grand Total: <%= number_to_currency(total, :unit =>"€") %> </p>
        <td class="title">
              <a href="/cart/clear" class="button">Clear Cart</a>
              <a href="/checkout" class="button">Checkout</a>
       
              
        </td>
        
        <tr>
            <td class="title">
              <a href="/items/" class="button">Continue shopping</a>
              
        </td>
        </tr>
        </tr>
        
    </table>
    
    
</div>
