<% if @cart.empty? %>
<p>You have not added any items yet</p>
<% end %>

<p id="notice"><%= notice %></p>



<div id="prodCont">
    <table id="default">
        <% total = 0 %>
        
        <% @cart.each do |id, quantity| %> 
        
         <% item = Item.find_by_id(id) %>
         
         <tr>
             
             <td>
                 <div class="prodIm">
           
                 <%= link_to (image_tag item.image_url, :style =>"height:40px"), item %>
                 </div>
             </td>
             
             <td >
                 <%= link_to item.title, item %>
                 
             </td>
             
             <td>
              <a href="/cart/remove/<%= item.id %>"  class="btn btn-block btn-info active btn-embossed ">Remove From Cart</a>
              
            </td>
            
            <td >
               <%= number_to_currency(item.price, :unit =>"€") %>  
            </td>
            
            <td><%= quantity %></td>

            
            <td><%= number_to_currency(quantity * item.price, :unit =>"€") %></td>
             
         </tr>
             <% total += quantity * item.price %> 
             <% end %>
        <tr>
          <p> Grand Total: <%= number_to_currency(total, :unit =>"€") %> </p>
        <td class>
              <a href="/cart/clear" class="btn btn-block btn-info active btn-embossed ">Clear Cart</a>
              <a href="/checkout"class="btn btn-block btn-info active btn-embossed ">Checkout</a>
       
              
        </td>
        
        <tr>
            <td>
              <a href="/items/" class="btn btn-block btn-info active btn-embossed ">Continue shopping</a>
              
        </td>
    </table>
    
    
</div>
