<% if current_user %>test1
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
test2
<p>User name: <%= @user.name %></p>
<p>Date of birth: <%= @user.date_of_birth %></p>
test3
<table id="orders" border="1">
    <% @user_orders.each do |order| %>
    <tr>

    <td><%= link_to order.order_date, order_path(order) %></td>
    
    </tr>
    <% end %>
</table>
<% if user_signed_in? %>
    <%= link_to 'Update profile', edit_user_registration_path %>
<% end %>
test4
<%= link_to @user.name, user_path(@user) %>
<% end %>



