<% if current_user %>
<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p>User name: <%= @user.name %></p>
<p>Date of birth: <%= @user.date_of_birth %></p>
<p>Address: <%= @user.address %></p>

<table id="defaultS">
    <% @user_orders.each do |order| %>
    <tr>

    <td><%= link_to order.order_date, order_path(order) %></td>
    
    </tr>
    <% end %>
</table>
<div>
<h3><% if user_signed_in? %>
    <%= link_to 'Update profile', edit_user_registration_path %>
<% end %>

<%= link_to @user.name, user_path(@user) %>
<% end %>
</h3>
</div>


