<p id="notice"><%= notice %></p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
   <%= @order.status %>
 
 
</p>
  <strong>User ID: This user id  is:<%= @order.id %></strong>

   
 


<p>
  <strong>User:</strong>
  <%= @order.user.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>
<% if current_user && current_user.admin %>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
<% end %>
<% if current_user %>

<%= link_to 'Back', orders_path %>
<% end %>
<div class="panel panel-default">
  <h1>Items in this order</h1>
  <div class="panel-heading">Panel heading</div>
  <div class="panel panel-default">
    <table class="table">

    <% @orderitems.each do |orderitem|  %>
      <thead>
      <tr>
        <td><%= orderitem.title %></td>
        <td><%= orderitem.quantity %></td>
      </tr>
    </thead>

<% end %>

</table>
</div>
</div>
<% if current_user && current_user.admin %>
  <a href="/shipped/" class="button">Mark as shipped</a>
<% end %>