<p id="notice"><%= notice %></p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
   <%= @order.status %>
 
 
</p>
  <strong>Order ID: <%= @order.id %></strong>
  <p>
  <strong>User Name:</strong>
  <%= @order.user.name %>
</p>
<p>
  <strong>User Email:</strong>
  <%= @order.user.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>
<% if current_user && current_user.admin %>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
<% end %>
<% if current_user %>

<%= link_to 'Back', orders_path %>
<% end %>

  <h1>Items in this order</h1>

<div id="prodCont">
    <table id="default">

    <% @orderitems.each do |orderitem|  %>
      <thead>
      <tr>
        <td><%= orderitem.title %> </td>
        <td><%= orderitem.quantity %></td>
      </tr>
    </thead>

<% end %>

</table>
</div>

<% if current_user && current_user.admin %>
  <a href="/shipped/" class="btn btn-block btn-info active btn-embossed ">Mark as shipped</a>
<% end %>