<p id="notice"><%= notice %></p>



 <div class="prod">
   <h1><%= @item.title %></h1>
   <%= image_tag @item.image_url, :class => 'imDesc'  %>
       <p><%= @item.description %></p>
   
    <div class="prod">
       <p>Price <%= number_to_currency(@item.price, :unit => "€") %>
       <br>
        Category: <%= @item.category %>
        <br>
        Brand: <%= @item.brand %></p>
       
       <p>
         <%= link_to 'Back',  items_path, :class => "btn btn-block btn-info active btn-embossed", :role => "button" %>
         <% if current_user && current_user.admin %>
         <%= link_to 'Edit',  edit_item_path(@item), :class => "btn btn-block btn-info active btn-embossed ", :role => "button" %>
        <% end %> 
       </p>
        
      </div>
   
   
   </div>