<header class="headSec">
      <div class="collapse navbar-collapse" id="navbar-collapse-2">
      <h1>Health Store</h1>
      
      
      <ul>
        <li><p class="navbar-text navbar-right"><%= link_to "Home",  "/" %></p></li>
        <li><p class="navbar-text navbar-right"><%= link_to "Products", "/items" %></p></li>
        <li><p class="navbar-text navbar-right"><%= link_to "About", about_path %></p></li>
        <li><p class="navbar-text navbar-right"><%= link_to "Help", help_path %></p></li>
        
        <% if user_signed_in? && session[:cart] %>
        <li><p class="navbar-text navbar-right"><%= link_to "View Cart", "/cart"  %></p></li>
        


        <% end %> 
        <% if user_signed_in? %>
        <li><p class="navbar-text navbar-right"><%= link_to 'Edit Profile', edit_user_registration_path %></p></li>
        <li><p class="navbar-text navbar-right"><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></p></li>
        <li><p class="navbar-text navbar-right"><%= link_to 'Show Profile ' , user_path(current_user) %></p></li>
        <% else %>
         
        <li><p class="navbar-text navbar-right"><%= link_to 'Create Account', new_user_registration_path  %></p></li>
          
        <li><p class="navbar-text navbar-right"><%= link_to 'Log In', new_user_session_path  %></p></li>
        
        <% end %> 
        <!-- added by bea-->
        <% if current_user && current_user.admin %>
        <li><p class="navbar-text navbar-right">I am an Admin</p></li>
        <% end %>
      </ul>
      
      </div>
    </header>